
h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 600;
    background-color: rgb(86, 155, 239);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 200px 0 200px;
    gap: 5px;
}

.psottotitolo{
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}


.pgrid {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-color: rgb(86, 155, 239);
    padding: 16px 20px;
    margin: 20px 0;
    border-radius: 20px;
    color: #1a1a1a;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;

}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    max-width: fit-content;
    text-align: center;
    background-color: rgb(86, 155, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: dashed;
    border-color: rgb(12, 121, 255);
    border-radius: 20px;
}

.inputbox {
    border-radius: 5px;
}

button {
    font-size: medium;
    cursor: pointer;
    border-radius: 20px;
    
}